.recommendation {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.recommendation-item {
    width: 25%;
    height: 300px;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
.recommendation img {
    width: 100%;
    height: 200px;
}

.recommendation-item p{
    position: relative;
    top: -80px;
    left: 0;
    padding: 10px;
    background-color: hsla(0, 0%, 33%, 0.521);
    color: #fff;
}

.recommendation-item span {
    position: relative;
    top: -80px;
}

.entry-btn {
	position: fixed;
	top:80vh;
	left:80vw;
	font-size:2rem;
	border:red solid 2px;
	padding:4px;
	border-radius:16px;
	background-color:white;
	x-index:1;
}