.saleslist-table{
	width: 100%;
	text-align: center;

}

.saleslist-table th{
	width: 14%;
	background-color: dimgray;
}

.sum p{
	border-top: 3px double dimgray;
	margin-right: 10px;
	text-align: right;
}