.userlist{
	text-align: center;
}

.userlist-table{
	width: 100%;
	text-align: center;

}

.userlist-table th{
	width: 20%;
	background-color: dimgray;
}

.userlist_flex{
	display: flex;
	justify-content:space-around;
}

.mergin-left-10{
	margin-left: 10px;
}