.userlist{
	text-align: center;
}

.userlist-table{
	width: 100%;
	text-align: center;
	
}

.userlist-table th{
	width: 20%;
	background-color: dimgray;
}

.userlist_flex{
	display: inline-flex;
}

.mergin-left-10{
	margin-left: 10px;
}
